@model List<ClothesEntities.Product>

@{
    ViewBag.Title = "ProducTable";

}

<h2>ProducTable</h2>
<form>
    <input type="text" id="SearchText" />
    <button id="SearchBtn" type="button">Search </button>
</form>
<br />
<button id="NewBtn" style="float:right">New </button>
<div class="table-responsive">

    <table class="table table-striped ">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Price</td>
            <td>Actions</td>
        </tr>
        @foreach (var prod in @Model)
        {

            <tr>
                <td>@prod.Name</td>
                <td>@prod.Description</td>
                <td>@prod.Category.Name</td>
                <td>@prod.Price</td>
                <td>
                    <button class="Edit" data-id="@prod.ID">Edit</button>
                    <button class="Delete" data-id="@prod.ID">Delete</button>
                </td>
            </tr>
        }
    </table>
    </div>
    <script>
        $("#SearchBtn").click(function () {
            var Search = $("#SearchText").val()

            $.ajax
                ({
                    url: '/Product/ProducTable',
                    data: { Search: Search }
                })
                .done(function (response) {
                    $("#Container").html(response)
                })
                .fail(function () {
                    alert("Fail")
                });
        });
        $("#NewBtn").click(function () {
            var Search = $("#SearchText").val()

            $.ajax
                ({
                    url: '/Product/Create',
                })
                .done(function (response) {
                    $("#createContainer").html(response)
                })
                .fail(function () {
                    alert("Fail")
                });
        });
        $(".Edit").click(function () {
            $.ajax
                ({
                    url: '/Product/Edit',
                    data: { ID: $(this).attr('data-id') }
                })
                .done(function (response) {
                    $("#createContainer").html(response)
                })
                .fail(function () {
                    alert("Fail")
                });
        });
        $(".Delete").click(function () {
            var confirmMess = confirm("Are You Sure");
            if (confirmMess == true) {
                $.ajax
                    ({
                        type: 'POST',
                        url: '/Product/DeleteProd',
                        data: { ID: $(this).attr('data-id') }
                    })
                    .done(function (response) {
                        $("#Container").html(response)
                    })
                    .fail(function () {
                        alert("Fail")
                    });
            }
        });

    </script>
